body{
    background-color: blueviolet;
    background-image: url("https://m.economictimes.com/thumb/msid-90171499,width-1200,height-900,resizemode-4,imgsize-123182/space.jpg");
}
*nav ul{
    width: 1200px;
    height: 75px;
    margin:auto;
}
.header{
    width: 40px;
    height:100%;
    background-color: lime;
}
.icon{
    width: 200px;
    float:left;
    height: 700px;
    padding: 5px 5px 10px 5px;
    background-color: deeppink;
}
.form{
    width: 400px;
    height: 570px;
    background: repeating-radial-gradient(red,blueviolet,white);
    top: 30px;
    left:75px;
    border-radius: 14px;
    padding: 25px;
    
}
.btm hover{
    color:mediumspringgreen;

}
liw{
    padding-top:150px;
    padding-bottom:10px;
    text-allign:center;

}
.icons a{
    text-decoration: none;
    color:orangered;
}
selector:pseudo-class{
    property:center;
}
{
    
}











    
    



