body{
    background-color: brown;
}
#container p:first-child{
    color:greenyellow;
}
#containder h1:last-child{
    color: orange;
}

#container h1:first-child{
color:magenta;
}
#container h1:last-of-type{
    color:orangered;

}
#container h1:nth-last-child(){
    color: darkred;
}
