body{
    display:flex;

}
#a{
    height:25vh;
    width:30%;
    background-image: linear-gradient(to top right,red,blueviolet 40%,blue 40%,blue 60%,yellow 60%,green 80%,);
    border:5px inset orangered;
    transition-property: width;
    transition-duration: 2s,3s;
    transition-timing-function:linear,linear; 
    transition-delay:0.1s,0.1s;
    transition:width 2s linear 0.1s,height 2s linear 0.1s,
    transform 3s;/*shorthand Individual property*/
    transition: all 2s linear 1s;/*shorthand property*/

}
#a:hover{
    width:60%;
    height:35vh;
    transform:rotate(360deg);
    transform:scaleX(0.5);
    transform:scaleY(1);
    transform:scale(2,0.5);
}
#b{
    height:25vh;
    width:30%;
    background-image:repeating-linear-gradient(to bottom left,red 0%,red 10%,blue 10%,blue 20%);
    border:5px inset orange;
}
#c{
    height:25vh;
    width:30%;
    background-image:radial-gradient(yellow 30%,blue 30%, blue 60%,red 60% );
    border:5px inset orange;
}
#d{
    height:25vh;
    width:30%;
    background-image:repeating-linear-gradient(green 0%,green 3%,red 55%,red 75%);
    border:5px inset orange;
}
#e{
    height:25vh;
    width:30%;
    background-image: conic-gradient(black 35%,white 35%,white 55%,red 55%,red 75%);
    border:5 px inset orange;

}
#f{
    height:25vh;
    width:30%;
    background-image:repeating-conic-gradient(yellow 0%,yellow 5%,   rgb(246,11,199)5%,rgb(245,12,225)10%);
    border:5px inset orange;
}
body{
    background-image: repeating-conic-gradient( rgb(233,230,230)0.36deg,rgb(14,4,15)0.39deg);
}